.container {
    max-width: 720px;
  }
  .column {
    border: 4px solid #f09f91;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
  }
  

  .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

    .flex > div{
        flex: 1 1 100%;
    }

    .flex > div:nth-child(2){
        flex: 1 1 50%;
    }

    .flex > div:nth-child(3){
        flex: 1 1 50%;
    }


    .flex > div:nth-child(2) > div:nth-child(1){

        flex: 1 1 50%;
    }

    .flex > div:nth-child(2) > div:nth-child(2){

        flex: 1 1 50%;
    }

